// Libraries
@import 'bourbon';

// Mixins
@import 'mixins/base64';
@import 'mixins/image-url';


// Variables
@import 'variables/fonts';
@import 'variables/icons';
@import 'variables/colors';


// Desktop components
@import 'components/forms';
@import 'components/arrow-buttons';

// Mobile components

$nav-width: 165px;
$header-height: 80px;
$spacing: 5px;

@import "mobile/basics";
@import "mobile/navigation";
@import "mobile/header";
@import "mobile/content";
@import "mobile/blog";