
# Redirect all to /
<IfModule mod_rewrite.c>
    RewriteEngine On

#    RewriteBase /


    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Mobile?
    RewriteRule ^m$ mobile.html [L]


    # Case deeplinks for social networks
    RewriteCond %{REQUEST_URI} ^/meneer-davids
    RewriteRule ^ meneer-davids.php [L]
	
	RewriteCond %{REQUEST_URI} ^/familie-van-zand
    RewriteRule ^ familie-van-zand.php [L]
	
	RewriteCond %{REQUEST_URI} ^/meneer-pinas
    RewriteRule ^ meneer-pinas.php [L]



    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.html [L]

</IfModule>

Options +FollowSymLinks

AddDefaultCharset UTF-8

# ----------------------------------------------------------------------
# Proper MIME type for all files
#
# Copied from the HTML5 boilerplate project's .htaccess file
# https://github.com/h5bp/html5-boilerplate/blob/master/.htaccess
# ----------------------------------------------------------------------

# JavaScript
#   Normalize to standard type (it's sniffed in IE anyways)
#   tools.ietf.org/html/rfc4329#section-7.2
AddType	application/javascript			js jsonp
AddType	application/json				json

# Audio
AddType	audio/ogg						oga ogg
AddType	audio/mp4						m4a f4a f4b

# Video
AddType	video/ogg						ogv
AddType	video/mp4						mp4 m4v f4v f4p
AddType	video/webm						webm
AddType	video/x-flv						flv

# SVG
#   Required for svg webfonts on iPad
#   twitter.com/FontSquirrel/status/14855840545
AddType		image/svg+xml				svg svgz
AddEncoding	gzip						svgz

# Webfonts
AddType application/vnd.ms-fontobject	eot
AddType application/x-font-ttf			ttf ttc
AddType font/opentype					otf
AddType application/font-woff			woff

<FilesMatch "\.(ttf|otf|woff)$">
<IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "*"
</IfModule>
</FilesMatch>

# Assorted types
AddType	image/x-icon					ico
AddType	image/webp						webp
AddType	text/cache-manifest				appcache manifest
AddType	text/x-component				htc
AddType	application/xml					rss atom xml rdf
AddType	application/x-chrome-extension	crx
AddType	application/x-opera-extension	oex
AddType	application/x-xpinstall			xpi
AddType	application/octet-stream		safariextz
AddType	application/x-web-app-manifest+json	webapp
AddType	text/x-vcard					vcf
AddType	application/x-shockwave-flash	swf
AddType	text/vtt						vtt



# --------------------------------------------------------------------------------------
# Compression: http://code.google.com/speed/page-speed/docs/payload.html#GzipCompression
# --------------------------------------------------------------------------------------
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE application/atom+xml
	AddOutputFilterByType DEFLATE application/json
	AddOutputFilterByType DEFLATE application/xhtml+xml
	AddOutputFilterByType DEFLATE application/xml
	AddOutputFilterByType DEFLATE text/css
	AddOutputFilterByType DEFLATE text/html
	AddOutputFilterByType DEFLATE text/plain
	AddOutputFilterByType DEFLATE text/x-component
	AddOutputFilterByType DEFLATE text/xml
	
	# The following MIME types are in the process of registration
	AddOutputFilterByType DEFLATE application/xslt+xml
	AddOutputFilterByType DEFLATE image/svg+xml
	
	# The following MIME types are NOT registered
	AddOutputFilterByType DEFLATE application/mathml+xml
	AddOutputFilterByType DEFLATE application/rss+xml
	
	# JavaScript has various MIME types
	AddOutputFilterByType DEFLATE application/javascript
	AddOutputFilterByType DEFLATE application/x-javascript
	AddOutputFilterByType DEFLATE text/ecmascript
	AddOutputFilterByType DEFLATE text/javascript

	# .ico files and other compressible images
	AddOutputFilterByType DEFLATE image/vnd.microsoft.icon
	AddOutputFilterByType DEFLATE image/x-icon
	AddOutputFilterByType DEFLATE image/bmp
	AddOutputFilterByType DEFLATE image/tiff
	AddOutputFilterByType DEFLATE application/pdf

	# compressible fonts (.woff is already compressed)
	AddOutputFilterByType DEFLATE font/opentype
	AddOutputFilterByType DEFLATE application/x-font-ttf
	AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive On
	
	# leverage proxy caching
	Header set Cache-Control "public"
	
	ExpiresByType application/json				"access plus 1 year"
	ExpiresByType application/pdf				"access plus 1 year"
	ExpiresByType application/x-shockwave-flash	"access plus 1 year"
	ExpiresByType image/bmp						"access plus 1 year"
	ExpiresByType image/gif 					"access plus 1 year"
	ExpiresByType image/jpeg 					"access plus 1 year"
	ExpiresByType image/png 					"access plus 1 year"
	ExpiresByType image/svg+xml 				"access plus 1 year"
	ExpiresByType image/tiff 					"access plus 1 year"
	ExpiresByType image/vnd.microsoft.icon 		"access plus 1 year"
  	ExpiresByType image/x-icon					"access plus 1 year"
	ExpiresByType text/css 						"access plus 1 year"
	ExpiresByType video/x-flv 					"access plus 1 year"
	ExpiresByType application/vnd.bw-fontobject	"access plus 1 year"
	ExpiresByType application/x-font-ttf		"access plus 1 year"
	ExpiresByType application/font-woff			"access plus 1 year"
	ExpiresByType font/opentype					"access plus 1 year"
	ExpiresByType image/webp					"access plus 1 year"

	# The following MIME types are in the process of registration
	ExpiresByType application/xslt+xml			"access plus 1 year"
	ExpiresByType image/svg+xml					"access plus 1 year"

	# The following MIME types are NOT registered
	ExpiresByType application/mathml+xml		"access plus 1 year"
	ExpiresByType application/rss+xml			"access plus 1 year"

	# JavaScript has various MIME types
	ExpiresByType application/x-javascript 		"access plus 1 year"
	ExpiresByType application/javascript 		"access plus 1 year"
	ExpiresByType text/ecmascript 				"access plus 1 year"
	ExpiresByType text/javascript 				"access plus 1 year"
	
	ExpiresByType application/x-font-woff		"access plus 1 year"	
	ExpiresByType application/x-font-ttf		"access plus 1 year"		
	ExpiresByType application/vnd.ms-fontobject "access plus 1 year"
	ExpiresByType font/truetype 				"access plus 1 year"
 	ExpiresByType font/opentype 				"access plus 1 year"
 	ExpiresByType image/svg+xml 				"access plus 1 year"

 
</IfModule>

# TODO: Set Last-Modified per Google's recommendation to complete browser caching

# -------------------------------------------------------------------------
# Disabling ETags as they are most likely misconfigured and
# do not add functionalit beyond Last-Modified
# -------------------------------------------------------------------------
<IfModule mod_headers.c>
	# Try removing etag headers (if it's coming from proxy for example)
	Header unset ETag
</IfModule>

# Remove ETags
FileETag None