$white: #fff;
$black: #000;

$green: #67c070;

$gray: #565655;
$gray-text: #575756;

$blue: #42b7d0;
$blue-transparent: rgba($blue, 0.75);

$blue-light: #42b6cf;

$red: #c22f5d;

$dark-gray: #131312;

$black-transparent: rgba($black, 0.5);
$black-transparent-darker: rgba($black, 0.6);

$input-bg: #dadada;


$mobile-black: #44423d;

